{% extends "layout.html" %}

{% block main %}

    <h1>Next step: fill out chemical properties</h1>

    <h4>Things to know:</h4>

    <ul>
        <li>Subscripts will automatically be applied to formulas. <b>H2O</b> will become <b>H<sub>2</sub>O</b></li>
        <li>The degree symbol will automatically be applied to densities. 100 at <b>20C</b> will became 100 at <b>20&#8451;</b>.</li>
        <li>Separate each hazard/precaution using semicolons/commas/periods. New lines register as spaces.</li>
        <li>Units don't need to be added unless they are not specified, like for temperature in density or amt required/produced.</li>
        <li>Chemical structures still have to be added afterwards!</li>
    </ul>

    <form action="/form" method="post">

        <table class="table table-hover table-bordered">
            <head>
                <tr>
                    <th>Name/Formula</th>
                    <th>MW g/mol</th>
                    <th>MP/BP &#8451;</th>
                    <th>Density g/mL</th>
                    <th>Amt Required/Produced</th>
                    <th>Safety Hazards</th>
                    <th>Precautions</th>
                </tr>
            </head>
                {% for n in strings %}
                <tr>
                    <td>
                        <input type="text" name={{"name" + n}} placeholder="Name" autofocus>
                        <input type="text" name={{"formula" + n}} placeholder="Formula">
                    </td>
                    <td>
                        <input type="text" name={{"mw" + n}} placeholder="MW">
                    </td>
                    <td>
                        <input type="text" name={{"mp" + n}} placeholder="MP">
                        <input type="text" name={{"bp" + n}} placeholder="BP">
                    </td>
                    <td>
                        <input type="text" name={{"density" + n}} placeholder="Density">
                    </td>
                    <td>
                        <input type="text" name={{"amt" + n}} placeholder="Include units">
                    </td>
                    <td>
                        <textarea type="text" name={{"hazards" + n}} placeholder="separate with ; or ,"></textarea>
                    </td>
                    <td>
                        <textarea type="text" name={{"precautions" + n}} placeholder="separate with ; or ,"></textarea>
                    </td>
                </tr>
                {% endfor %}

        </table>
    <div class="btn" onClick="addRow()">Add Chemical</div>
    <br>
    <div class="btn" onClick="delRow()">Delete Chemical</div>
    <br>
    <br>
    <button class="btn" type="submit">Submit</button>
    </form>
    <br>
    <script>
        function addRow() {
            var x = document.querySelectorAll("tr").length - 1;
            var id = x.toString();
            var td1 = '<td><input type="text" name="name' + id + '" placeholder="Name" autofocus><input type="text" name="formula' + id + '" placeholder="Formula"></td>';
            var td2 = '<td><input type="text" name="mw' + id + '" placeholder="MW"></td>';
            var td3 = '<td><input type="text" name="mp' + id + '" placeholder="MP" autofocus><input type="text" name="bp' + id + '" placeholder="BP"></td>';
            var td4 = '<td><input type="text" name="density' + id + '" placeholder="Density"></td>';
            var td5 = '<td><input type="text" name="amt' + id + '" placeholder="Include units"></td>';
            var td6 = '<td><textarea type="text" name="hazards' + id + '" placeholder="separate with ; or ,"></textarea></td>';
            var td7 = '<td><textarea type="text" name="precautions' + id + '" placeholder="separate with ; or ,"></textarea></td>';
            $("table").append("<tr></tr>");
            var y = document.querySelectorAll("tr");
            $(y[y.length - 1]).append(td1, td2, td3, td4, td5, td6, td7);
        }

        function delRow() {
            var trs = document.querySelectorAll("tr");
            if (trs.length > 2) {
                trs[trs.length - 1].remove();
            }
        }

        // https://www.w3schools.com/jsref/met_document_queryselectorall.asp
        document.querySelector('form').onsubmit = function() {
            var inputs = document.querySelectorAll('input');
            var textboxes = document.querySelectorAll('textarea');
            for (var i = 0; i < inputs.length; i++) {
                if (!inputs[i].value) {
                    return confirm('Some text areas are blank. Proceed anyways?');

                }
            }
            for (var j = 0; j < textboxes.length; j++) {
                if (!textboxes[j].value) {
                    return confirm('Some text areas are blank. Proceed anyways?');
                }
            }
            return true;
        }
    </script>

{% endblock %}